<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= link_to "Our best value Bike can be found here!", '/static_pages/sale_item' %><br>
		<%= link_to "Discover why we're one of the highest rated Bike shops in all of Berlin!", '/' %>
</div>
