<div class="container">
  <div class="row">
    <div class="col-md-12">
          <br>
          <h1 class="banner page-header">About. Us.</h1>
          
          <p>Hi! Welcome to Bike London. We're the best solution for buying and selling your new or used bicycles. Bike riding is a seriously underrated activity that not only allows you to explore this beautiful city of ours in a much simpler capacity, but it also gets the calories burning <span class="glyphicon glyphicon-heart"></span></p>
          <p>For some, Bike riding is a way of life. Allow yourself to explore the thrill, adventure, and mobility that comes with traversing London with a bike.</p>
          <br>
          <h1 class="head">Our Story</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at est commodo, porttitor ante eu, interdum turpis. Nulla interdum sagittis tempor. Donec nec feugiat lorem. Mauris lorem leo, convallis eu ultrices at, commodo nec augue. Praesent blandit vitae dolor id sagittis. Nam rhoncus arcu quis massa finibus bibendum. Suspendisse lorem diam, luctus sit amet mi id, consectetur consequat quam. Praesent sit amet urna mollis, rhoncus risus et, varius magna.</p>
          <br>
          <h1 class="head">Our Mission</h1>
          <p>Donec at diam tincidunt, rhoncus eros et, pellentesque metus. Cras a ante vitae massa commodo fermentum ac feugiat enim. Duis eget felis massa. Vestibulum suscipit commodo leo, in vestibulum lectus maximus a. Aliquam suscipit quam in odio facilisis, quis convallis mi vestibulum. Nullam ut sem a purus pellentesque eleifend eu vel mauris. Suspendisse turpis diam, sagittis sit amet massa ac, maximus convallis dui. Aenean laoreet pharetra arcu, et laoreet nulla. Donec eget ipsum luctus magna interdum faucibus. Ut convallis est et scelerisque sollicitudin. Vivamus in finibus ex. Integer id tempus nisl.</p>

    </div>
  </div>
</div>
