<div class="container">
	<div class="page-header">
	  <h1>About<br><small><i>This app is going to host a bike store front. Users will be able to browse a selection of products and purchase them</i></small></h1>
	</div>
</div>

