<h1>Welcome to Bike London!</h1>
<h2>Your source for used bikes in London!</h2>

<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bike1.jpg", class: "img-responsive", id: "bike") %>

