<div class="jumbotron">
	<h1>Our best value bike!</h1>
	<p><%= @product_sale.name %></p>
	<p><%= @product_sale.description %></p>
	<%= image_tag(@product_sale.image_url, class: "img-responsive")	%>
	<p>Only €<%= @product_sale.price %></p>
</div>

