<script src="https://checkout.stripe.com/checkout.js"></script>

<button class="btn btn-sm btn-primary" id="buy">Buy now</button>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

document.getElementById('buy').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: '<%= @product.name %>',
    description: '<%= @product.description %>',
    currency: 'gbp',
    amount: <%= @product.price %>
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>

