// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #8b8687; 
	font-family: 'Ubuntu',helvetica, arial, tahoma, sans-serif;
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: #353866;
}

.footer {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #566270;
	border-top: 1px solid #e7e7e7;
}

.navbar {
	background-color: #8b8687;
}

.collapse .nav li a {
	color: white;
}

#bike {
	width: 80%;
	margin: 0 auto;
	border: 2px solid #263959;
	border-radius: 2px;
}

.img-responsive {
	display: inline-block;
}