<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br>
      <h1 class="banner page-header">Edit. Product.</h1>
      <br>
		<%= render 'form', product: @product %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
    </div>
  </div>
</div>