<div class="container">
  <div class="row">
		<%= render template: "static_pages/_headtag"%>
		<div class="col-md-2">
			<p class="lead">Products</p>
			<div class="list-group">
				<% if admin? %>
					<%= link_to '<strong>Add Product</strong>'.html_safe, new_product_path, class: "list-group-item"%>
				<% end %>
			    <a href="#" class="list-group-item">Bicycles</a>
			    <a href="#" class="list-group-item">Helmets</a>
			    <a href="#" class="list-group-item">Apparel</a>
			</div>
        </div>
        <div class="col-md-10">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
        	<div class="row">
                <% cache(cache_key_for_products) do %>
		    	     <%= render @products %>
                <% end -%>
		    </div>
		</div>
	
  </div>
</div>
